.tavern {
  position: relative;
  text-align: center;
}
.tavern img {
    max-width: 100%;
}
.tavern-inside {
    margin: 0 auto;
    display: inline-block;
}
.tavern-alignment{
    position: relative;
    left: 40px;
}
.tavern .tavern-column {
  width: 33.33333%;
  float: left;
  width: 289px;
  height: 310px;
  
}
.tavern .tavern-column.tavern-col-middle {
   margin:0 7px;   
}

.tavern .tavern-hero {
  display: block;
  float: left;
  
  margin: 0px 4px 4px 0px;
  position: relative;
}
.tavern-hero > img {
    border: 3px solid #111;
}
.tavern .tavern-hero-action {

    position: absolute;
    top: 0;
    left: 0;
    
left: -25px;

width: 115px;
opacity: 0;
top: -14px;
z-index: -1;
}
.tavern .tavern-hero-action img {
    border: 1px solid #8fd5eb;
}
.tavern .tavern-hero:hover .tavern-hero-action {
    display: block;
    opacity: 1;
    z-index: 25;
    top: -14px;
     -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.tavern-hero-active > .tavern-hero-action {
    display: none !important;
}
.tavern-hero-active > img {
    opacity: 0.25;
}